@model Domain.Entity.tb_VersionUpdate
@{
    Layout = "../shared/_Layout.cshtml";
}
<style>
    body {
        background-color: white;
    }
</style>
<!-- form star -->
@using (Ajax.BeginForm("VersionModify", null, new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "fyt.FSuccess",
    OnBegin = "fyt.FBegin",
    OnComplete = "fyt.FEnd"
}, new { @class = "form-horizontal mform tip-wal dig-from", @id = "forms" }))
{
    @Html.HiddenFor(model => model.ID)
    <div class="row white-bg animated fadeInUp">
        <div class="wrapper-content">
            <div class="panel-body">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">版本类型</label>
                            <div class="col-lg-8">
                                @Html.RadioButtonFor(model => model.Types, "IOS") IOS
                                @Html.RadioButtonFor(model => model.Types, "Android") Android
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">版本号</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.Version, new { @class = "form-control", @datatype = "n", @nullmsg = "请输入版本号", @placeholder = "请输入版本号" })
                            </div>
                        </div>
                        <div id="fa" class="form-group">
                            <label class="col-lg-3 control-label">文件地址</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.Address, new { @class = "input-sm form-control", @placeholder = ".apk文件" })
                                <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary"> 选择文件</button> </span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label class="col-lg-3 control-label">状态</label>
                                <div class="col-lg-8">
                                    <label class="checkbox-inline">@Html.CheckBoxFor(model => model.IsLock, new { @class = "i-checks" }) 是否隐藏</label>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <label class="col-lg-3 control-label">描述</label>
                            <div class="col-lg-8">
                                @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", @rows = "6" })
                            </div>
                        </div>

                        <div class="hr-line-dashed">
                            <div class="form-group m20">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button class="btn btn-primary btn-save" type="submit"><i class="fa fa-check"></i> 确定保存</button>
                                    <button class="btn btn-warning" id="btn-dig-close" type="button"><i class="im-undo2"></i> 取消返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- form end -->
@section scripts
{
    <script type="text/javascript" charset="utf-8" src="/assets/js/files/file.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#forms").initValidform();
        });
    </script>
}
