@using FytMsys.Common
@model Domain.Entity.tb_BlogActicle
@{
    Layout = "../shared/_Layout.cshtml";
}
@using (Ajax.BeginForm("ArticleModfiy", null, new AjaxOptions()
{
    HttpMethod = "post",
    OnSuccess = "fyt.FSuccess",
    OnBegin = "fyt.FBegin",
    OnComplete = "fyt.FEnd"
}, new { @class = "form-horizontal mform tip-wal", @id = "forms" }))
{
    @Html.HiddenFor(model => model.AddDate)
    @Html.HiddenFor(model => model.LastHitDate)
    @Html.HiddenFor(model => model.DelDate)
    @Html.HiddenFor(model => model.BlogID)
    <!-- head star -->
    <div class="tnav row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 class="fl">项目</h2>
            <ol class="breadcrumb fl">
                <li><a href="../ArticleIndex">主页</a></li>
                <li><strong>添加新文章</strong></li>
            </ol>
        </div>
    </div>
	<!-- head end -->
	<!-- form star -->
    <div class="row white-bg animated fadeInRight">
        <div class="wrapper-content">
            <div class="panel-options">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="tabs_panels.html#tab-1">基本信息</a></li>
                    <li><a data-toggle="tab" href="tabs_panels.html#tab-2">其它选项</a></li>
                </ul>
            </div>
            <form class="form-horizontal mform tip-wal">
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">标题</label>
                                <div class="col-sm-10 col-md-6">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @datatype = "*", @nullmsg = "请输入标题", @placeholder = "请输入标题" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">副标题</label>
                                <div class="col-sm-10 col-md-6">
                                    @Html.TextBoxFor(model => model.SubTitle, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">特殊属性</label>
                                <div class="col-sm-10 col-md-6">
                                    <label class="checkbox-inline"> @Html.CheckBoxFor(model => model.IsTop, new { @class = "i-checks" }) 推荐</label>
                                    <label class="checkbox-inline"> @Html.CheckBoxFor(model => model.IsComment, new { @class = "i-checks" }) 是否评论</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">关键字TAGS</label>
                                <div class="col-sm-10 col-md-6">
                                    @Html.TextBoxFor(model => model.Tag, new { @class = "form-control" })
                                    <span><a href="javascript:void(0)">根据简短标题自动获取Tags</a></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">来源</label>
                                <div class="col-sm-10 col-md-6">
                                    @Html.TextBoxFor(model => model.Source, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">作者</label>
                                <div class="col-sm-10 col-md-6">
                                    @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">更新时间</label>
                                <div class="col-sm-10 col-md-6 input-group date pl15">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control" datatype="*" id="EditDate" name="EditDate" nullmsg="请输入添加时间" placeholder="请输入添加时间" type="text" value="@Model.EditDate" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">摘要</label>
                                <div class="col-sm-10 col-md-6">
                                    @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", @rows = "3" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">内容</label>
                                <div class="col-sm-10 col-md-10">
                                    <script id="Content" name="Content" type="text/plain" style="width:100%;height:200px;">
                                        @Html.Raw(Model.Content)
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">展示图</label>
                                <div class="col-sm-5 col-md-5 input-group pl15">
                                    @Html.TextBoxFor(model => model.ImgUrl, new { @class = "input-sm form-control" })
                                    <span class="input-group-btn"><button type="button" data-text="ImgUrl" class="btn btn-sm btn-primary select-img"> 选择图片</button> </span>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">点击量</label>
                                <div class="col-sm-10 col-md-6">
                                    @Html.TextBoxFor(model => model.Hits, new { @class = "form-control", @placeholder = "点击数作弊", @datatype = "n", @nullmsg = "请输入点击量" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">审核状态</label>
                                <div class="col-sm-10 col-md-6">
                                    <label class="checkbox-inline">@Html.RadioButtonFor(model => model.Audit, 2) 草稿</label>
                                    <label class="checkbox-inline">@Html.RadioButtonFor(model => model.Audit, 0) 未审核</label>
                                    <label class="checkbox-inline">@Html.RadioButtonFor(model => model.Audit, 1) 已审核</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">回收站</label>
                                <div class="col-sm-10 col-md-6">
                                    <label class="checkbox-inline">@Html.CheckBoxFor(model => model.IsRecyc, new { @class = "i-checks" }) 是否在回收站</label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed">
                            <div class="form-group m20">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary btn-save" type="submit"><i class="fa fa-check"></i> <span>确定保存</span></button>
                                    <a class="btn btn-warning" href="javascript:history.go(-1)"><i class="im-undo2"></i> 取消返回</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
	<!-- form end -->

}
@section scripts
{
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/js/files/file.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#forms").initValidform();
            $('.select2').select2();
            $('.tip-wal').tooltip({
                selector: "[data-toggle=tooltip]",
                container: "body"
            });
            UE.getEditor('Content');
        })
    </script>
}
